*{
    padding: 0;
    margin: 0;
}

body{
background-color: #fff;

}
header, footer{
    width: 100%;
    background-color: orange;
    padding: 20px 0px;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
nav{
    /*float flutuar para um lado*/
    float: right;
    margin-right: 20px;
}
header h2{
    float: left;
    margin-left: 20px ;
}
nav a{
    color: #fff;
    /*texte decoraion decoração do texto*/
    text-decoration: none;
}
#banner{
    width: 80%;
    height: 300px;
    /*bg-imag chama a imagem */
    background-image: url(../images/path-forest-with-leaves-it.jpg);
    margin: 20px auto;
    /* bg repeat - configura a repetição*/
    background-repeat: no-repeat;
    /* bg - size controla tamanho*/
    background-size: cover;
    /* bg position - posição da imagem*/
    background-position: center;
    line-height: 300px;
    text-align: center;

}
footer{
    position: absolute;
    bottom: 0%;
}
h3 {
    color: #fff;
}
.produto {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: gray;
}
.produtoimg {
    width: 100%;


}